{{- $counter := .Page.Scratch.Get "tabsCounter" | default 0 -}}
{{- .Page.Scratch.Set "tabsCounter" (add $counter 1) -}}
{{- $uniqueID := printf "%d" $counter -}}
{{- .Scratch.Set "tabsID" $uniqueID -}}
{{- .Scratch.Set "currentTabIndex" 0 -}}
{{- $items := split (.Get "items") "," -}}
<div class="tabs" id="tabs-{{ $uniqueID }}">
  <ul class="tabs-list" role="tablist">
    {{- range $index, $item := $items -}}
    <li>
      <button
        type="button"
        class="tab-trigger{{ if eq $index 0 }} active{{ end }}"
        role="tab"
        data-tab="tabs-{{ $uniqueID }}-panel-{{ $index }}"
        aria-selected="{{ if eq $index 0 }}true{{ else }}false{{ end }}"
        aria-controls="tabs-{{ $uniqueID }}-panel-{{ $index }}"
      >
        {{ $item | strings.TrimSpace }}
      </button>
    </li>
    {{- end -}}
  </ul>
  <div class="tabs-panels">
    {{ .Inner }}
  </div>
</div>
